.top__01 {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1290px;
  height: 50px;
  background-color: burlywood;
}

.logo {
  width: 20%;
}

.navi {
  width: 60%;
}

.navi ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* top__02 */

.top__02 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 25px 0;
}

.top__02 > input:nth-child(1) {
  border: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px 10px;
  border-right: none;
}

.top__02 > input:nth-child(2) {
  border: 1px solid #ccc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: none;
  padding: 4px 15px;
  background-color: #999;
  color: #fff;
}

/* top__03 */
.top__03 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top__03-imgbox,
.top__03-textbox {
  background-color: chocolate;
  width: 300px;
  height: 300px;
}
.top__03-textbox {
  width: 790px;
  background-color: cadetblue;
}

/* top__04 */

.top__04 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top__04 > h2 {
  padding: 20px 0;
  margin: 15px 0;
}

.top__04-bigbox {
  display: flex;
  margin-bottom: 30px;
}

.top__04-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top__04-imgbox,
.top__04-textbox {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  background-color: darkgrey;
}
.top__04-imgbox {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.top__04-textbox {
  background-color: darkorchid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
