.nav {
  position: fixed;
  bottom: 0%;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 15px 40px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e3632;
  position: relative;
}
.fas,
.far {
  font-size: 20px;
}

.nav__bedge {
  background-color: tomato;
  color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 18px;
  bottom: 12px;
  left: 12px;
  font-size: 13px;
  animation: badgeAni 1.8s ease-in-out 3;
  animation-delay: 1s;
}

.small__bedge {
  width: 5px;
  height: 5px;
  bottom: 20px;
  left: 23px;
  animation: none;
}

.nav__btn {
  animation: navbarAni 1s ease-in;
}

@keyframes badgeAni {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    trasnform: none;
  }
}

@keyframes navbarAni {
  from {
    transform: translateY(70px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
